
CoolTeamNameP3/.vs/CoolTeamNameP3/v15/.suo
*.db
*.ipch
CoolTeamNameP3/.vs/CoolTeamNameP3/v15/.suo
*.db
*.ipch
*.tlog
*.pdb
*.ipdb
*.iobj
CoolTeamNameP3/CoolTeamNameP3/CoolTeamNameP3.vcxproj
*.user
*.log
*.filters
*.obj
*.sln
*.idb
*.exe
CoolTeamNameP3/CoolTeamNameP3/full_dataset_reduced3.tsv
*.opendb
CoolTeamNameP3/CoolTeamNameP3/full_dataset_all_reduced.tsv
